body {
  background-color: gray;
  display:flex;
  flex-flow: column wrap;
}
.container{
  flex: 1;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: white;
  width:20%;
  min-height: 100px;
  min-width: 200px;
  justify-content: center;

}
#prof-pic{
  display: flex;
  height:50%;
  width:50%;
  border:2px solid greenyellow;
  border-radius: 50%;
  margin-bottom: 10px;
  
}
#status{
  align-self: flex-end;
  margin-right: 2px;
  color:rgba(0, 0, 0, 0.734)
}

#name{
  
}
#title{
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
  width: 100%;
  align-items: center;
  padding-top:10px;
  padding-bottom: 10px;
}

#time{
  padding-top:10px;
}
#tips{
  color: rgba(0, 0, 0, 0.531);
  padding-bottom:10px;
}

#icons{
  padding:10px;
  
}